<h1>Street address to coordinates calculation</h1>

<dl>
  <dt>Street Address</dt>
  <dd><%= @user_address %></dd>

  <dt>Latitude</dt>
  <dd><%= @lat %></dd> 

  <dt>Longitude</dt>
  <dd><%= @long  %></dd>     
</dl>  

