<h1>Street address to coordinates calculation</h1>

<form action="/results">
  <label for="user_street_address">Street Address</label>
  <input id="user_street_address" type = "text" placeholder = "Enter the address" name ="user_street_address">

  <button>Lookup Coordinates!</button>
</form>