<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="usermin">Subtract this:</label>
  <input id="usermin" type = "text" placeholder = "" name ="first_num">

  <label for="usermax">from this:</label>
  <input id="usermax" type = "text" placeholder = "" name ="second_num">  

  <button>Subtract!</button>
</form>