<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="usermin">Multiply this:</label>
  <input id="usermin" type = "text" placeholder = "" name ="first_num">

  <label for="usermax">by this:</label>
  <input id="usermax" type = "text" placeholder = "" name ="second_num">  

  <button>Multiply!</button>
</form>