<h1>New addition</h1>

<form action="/wizard_add">
  <label for="usermin">Add this:</label>
  <input id="usermin" type = "text" placeholder = "" name ="first_num">

  <label for="usermax">to this:</label>
  <input id="usermax" type = "text" placeholder = "" name ="second_num">  

  <button>Add!</button>
</form>